{{!-- <footer class="site-footer clearfix">
  <div class="footer-meta container">
    <section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
    <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a>, Theme <a
        href="https://github.com/xiaoluoboding/kaldorei">Kaldorei</a></section>
  </div>
</footer> --}}


<footer class="site-footer clearfix">
  <div class="site-footer-title"><a href="{{@site.url}}">{{@site.title}}</a>&copy; {{date format="YYYY"}}</div>
  <div class="site-footer-title">Proudly published with <a href="https://ghost.org">Ghost</a>, Theme <a
    href="https://github.com/xiaoluoboding/kaldorei">Kaldorei</a></div>
</footer>

