<style>
  .header {
    height: 30rem;
    width: 100%;
  }

  .nav-header {
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
  }

  .nav-items {
    display: flex;
    z-index: 1000;
  }

  .blog-title {
    margin-left: 1rem;
  }

  .blog-title a {
    color: #fff;
    font-size: 3rem;
  }

  .blog-title a:hover {
    text-decoration: none;
  }

  .nav-item {
    color: #fff;
    margin: 1rem;

  }

  .nav-item a {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    z-index: 1000;
  }

  .nav-item a:hover {
    color: var(--primary-light-hover);
  }

  .widget-profile-desc {
    color: #fff;
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  .widget-profile-cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30rem;
  }
  .site-description {
    position: absolute;
    bottom: 1rem;
    width: 100%;
  }
</style>

<header class="header">

  {{!-- 太阳系动画 --}}
  <div class='solar-syst'>
    <div class='sun'></div>
    <div class='mercury'></div>
    <div class='venus'></div>
    <div class='earth'></div>
    <div class='mars'></div>
    <div class='jupiter'></div>
    <div class='saturn'></div>
    <div class='uranus'></div>
    <div class='neptune'></div>
    <div class='pluto'></div>
    <div class='asteroids-belt'></div>
  </div>

  <div class="widget-profile-cover overlay">
    <div class="nav-header">

      <div class="widget-profile-header">
        <a class="widget-profile-logo" href="{{@site.url}}">
          {{#if @site.logo}}
          <img src="{{@site.logo}}" alt="{{@site.title}}" />
          {{else}}
          <img src="{{asset "img/user-image.png"}}" alt="{{@site.title}}" />
          {{/if}}
        </a>

        <div class="blog-title">
          <a class="" href="{{@site.url}}">{{@site.title}}</a>
        </div>
      </div>


      <div class="nav-items">
        <div class="nav-item"><a href="https://lzcdev.xyz/">首页</a></div>
        <div class="nav-item"><a href="https://lzcdev.xyz/archives/">分类</a></div>
        <div class="nav-item"><a href="https://lzcdev.xyz/about/">关于</a></div>
        <div class="nav-item">
          <a id="globalSearch" href="#" class="search-toggle">
            <i class="search-icon fa fa-lg fa-search"></i>
          </a>
        </div>
      </div>

    </div>

    <div class="nav-body">
      <div class="site-description">
        <p class="widget-profile-desc">
          {{#if @site.description}}
          {{@site.description}}
          {{else}}
          <em><a href="{{@site.url}}/ghost/settings/general/">({{t "Add Blog Description"}})</a></em>
          {{/if}}
        </p>
      </div>
    </div>
  </div>
</header>